@using DemoApplication.Service.Dtos.Products;
@model ProductGetByDateDto


<div class="card card-flush">
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title">
            <form asp-area="Admins" asp-controller="ProductAudits" asp-action="GetAllByDate" method="post">
                <div class="my-3 mx-5 me-5 d-flex flex-row align-items-md-center">
                    <div class="mb-7">
                        <label class="required form-label">Start Date</label>
                        <input type="date" asp-for=StartDate class="form-control" data-val="true" data-val-required="The StartDate field is required." id="StartDate" name="StartDate" value="@(Model.StartDate=="2023-04-01"?"2023-02-25":Model.StartDate)">
                        <span class="text-danger field-validation-valid" asp-validation-for="StartDate" data-valmsg-for="StartDate" data-valmsg-replace="true"></span>
                    </div>
                    <div class="mb-7 ms-5">
                        <label class="required form-label">End Date</label>
                        <input type="date" asp-for=EndDate class="form-control" data-val="true" data-val-required="The End Date field is required." id="EndDate" name="EndDate" value="@(Model.EndDate==DateTime.Now.ToString("yyyy-MM-dd")?DateTime.Now.ToString("yyyy-MM-dd"):Model.EndDate)">
                        <span class="text-danger field-validation-valid" asp-validation-for="EndDate" data-valmsg-for="EndDate" data-valmsg-replace="true"></span>
                    </div>
                    <div class="sm-end ms-5 mt-2">
                        <button type="submit" class="btn btn-light">
                            <span class="svg-icon svg-icon-muted text-dark">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="currentColor" />
                                    <path opacity="1" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="currentColor" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="py-5">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="table-responsive">
                    <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th class="text-start min-w-50px">ID</th>
                                <th class="text-start min-w-100px">ADMIN (F.L)</th>
                                <th class="text-start min-w-100px">ADMIN USERNAME</th>
                                <th class="text-start min-w-200px">TITLE CHANGE</th>
                                <th class="text-start min-w-100px">QUANTITY CHANGE</th>
                                <th class="text-start min-w-100px">PRICE CHANGE</th>
                                <th class="text-start min-w-100px">PRODUCT STATUS</th>
                            </tr>
                        </thead>
                        <tbody class="fw-semibold text-gray-800">
                            @{
                                foreach (var item in Model.ProductAudits!)
                                {

                                    <tr class="tr-shadow text-dark">
                                        <td class="text-start px-sm-0">
                                            <span class="fw-bold">@item.Id</span>
                                        </td>
                                        <td class="text-start px-sm-0 d-flex align-items-center">
                                            <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                            </div>
                                            <span class="fw-bold text-hover-info text-gray-800 ms-3">@item.FullName</span>
                                        </td>
                                        <td class="text-start">
                                            <span class="fw-bold text-gray-500">@item.UserName</span>
                                        </td>
                                        <td class="text-start">
                                            <span class="fw-bold text-gray-500">@item.OldTitle --> @item.NewTitle</span>
                                        </td>
                                        <td class="text-start">
                                            <span class="fw-bold text-gray-500">@item.OldQuantity --> @item.NewQuantity</span>
                                        </td>
                                        <td class="text-start">
                                            <span class="fw-bold text-gray-500">@item.OldPrice --> @item.NewPrice</span>
                                        </td>
                                        <td class="text-start">
                                            <span class="fw-bold text-gray-500">@item.Status</span>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>